
Projetos/Saque_eletrônico/Versão_Pronta.por
Exercícios_01_basico/Exercícios PORTUGOL.pdf
Exercícios_01_basico/Exercícios_Portugol.zip
Exercícios_02_condicionais/Atividade_Portugol_02.zip
Exercícios_02_condicionais/Exercícios PORTUGOL_2.pdf
Exercícios_03_escolha/Exercícios_03_escolha.zip
Exercícios_03_escolha/Exercícios_PORTUGOL_3.pdf
Exercícios_04_loops/Aula 8 - Loops Exercicíos.pdf
Exercícios_04_loops/Exercícios_04_loops.zip
Exercícios_05_vetores/Aula 10 - Vetores.pdf
Exercícios_05_vetores/Exemplo_vetores.por
Exercícios_05_vetores/exercicios_05_vetores.zip
Exercícios_06_matrizes/ex_ver_diagonal.por
Exercícios_06_matrizes/Exercicíos_Matrizes.pdf
Exercícios_05_vetores/Exercícios_05_vetores_documentados/ex02.por
Exercícios_05_vetores/Exercícios_05_vetores_documentados/ex05.por
Exercícios_05_vetores/Exercícios_05_vetores_documentados/ex10.por
Exercícios_05_vetores/Exercícios_05_vetores_documentados/ex11.por
Exercícios_05_vetores/juncao_de_vetores.por
Exercícios_05_vetores/lista de compras.por
Exercícios_06_matrizes/diagonal_sec.por
Exercícios_06_matrizes/ex_matriz.por
Exercícios_07_funções/ex_funcoes_2.por
Exercícios_07_funções/ex_funcoes_01.por
Exercícios_07_funções/ex_funcoes.por
Exercícios_06_matrizes/ultima_coluna.por
Exercícios_06_matrizes/exercicíos_matrizes/exercícios_06_matrizes.zip
Exercícios_07_funções/exercícios_07_funcoes/exercícios_07_funcoes.zip
Exercícios_07_funções/Exercícios_Funções.pdf
Projetos/Locadora_filmes/Locadora_rev_nao_funciona.por
Projetos/Locadora_filmes/locadora_sistema.pdf
Projetos/Saque_eletrônico/Versão_Grupo.por
Exercícios_01_basico/Exercícios_01_básico.zip
